.root {
  display: flex;
  align-items: center;
  padding: 2px;
}

.errorMsg svg {
  fill: var(--red);
}

.infoMsg svg {
  fill: var(--gray);
}

.infoText {
  font-size: 0.875rem;
  padding: 2px;
  margin: 0;
  color: var(--tertiary_dark);
}

.textError {
  color: var(--red);
}
